### Name: Shelmith Nyagathiri Kariuki
### Description: This script describes analysis of a simulated dataset (wafanyikazi).

In [6]:
#1. Import the libraries needed
import numpy as np # numpy is used for mathematical operations
import pandas as pd # pandas is used for manipulation of dataframes
import os # os is used for inspecting and setting the working directory
import matplotlib.pyplot as plt # used for plotting, especially setting the plot figure properties
import seaborn as sns

In [10]:
#2. Inspecting and setting the working environment
os.getcwd()
    ### We need to change the working directory, so that we are able to save the outputs that we generate.
os.chdir("/Users/busara/Documents/Personal Development/Python")

os.getcwd()

'/Users/busara/Documents/Personal Development/Python'

In [16]:
#3. Generate variables that will constitute the wafanyakazi dataset
subject_id = np.random.choice(list(range(10000,20000,1)),size=500,replace=False)
gender = np.random.choice(list(["Male","Female"]),size = 500,replace=True)
age = np.random.choice(list(range(18,51,1)),size = 500,replace=True)
department = np.random.choice(["Data","Operations","Finance","Research Analyst","Associate"],size = 500,replace=True)
role = np.random.choice(["Junior","Mid","Senior"],size = 500, replace = True)
income = np.random.choice(list(range(1000,10000,217)),size = 500, replace=True)
marital_status = np.random.choice(["Single","Married","Divorced"],size = 500, replace = True)
county = np.random.choice(["Nyeri","Kisumu","Taita","Embu","Kirinyaga","Laikipia","Wajir","Mombasa","Lamu",
                           "Kiambu","Nairobi"],size = 500, replace=True)
leave_days = np.random.choice(list(range(0,25,1)),size = 500, replace=True)
promotion = np.random.choice(["Yes","No"],size = 500, replace=True)

In [20]:
#4. Generate the wafanyikazi dataset and save it externally

wafanyikazi =pd.DataFrame({"Sid":subject_id,"Gender":gender,"Age":age,"Department":department,
                           "Role": role,"Income": income,"Marital_Status":marital_status,"County":county,
                           "Leave_Days": leave_days,"Promotion": promotion})
## Inspecting the first 10 rows of the dataset
wafanyikazi.head(n = 10)

,Sid,Gender,Age,Department,Role,Income,Marital_Status,County,Leave_Days,Promotion
0,15786,Female,37,Associate,Mid,3604,Divorced,Kirinyaga,13,No
1,13166,Male,46,Data,Junior,3821,Single,Nairobi,19,Yes
2,16569,Male,42,Operations,Senior,6859,Divorced,Nairobi,0,No
3,12371,Male,40,Research Analyst,Mid,5340,Divorced,Taita,17,No
4,11289,Male,34,Finance,Junior,4472,Divorced,Taita,17,No
5,15759,Female,38,Research Analyst,Junior,2736,Single,Kisumu,0,Yes
6,15459,Male,22,Associate,Junior,5123,Divorced,Kirinyaga,3,Yes
7,19697,Male,50,Operations,Junior,8812,Single,Kirinyaga,8,No
8,17566,Female,37,Operations,Mid,2519,Single,Nairobi,4,No
9,11919,Female,48,Operations,Senior,5991,Married,Lamu,8,No

In [23]:
#5. Outline the number of rows and columns in the dataset
wafanyikazi.shape

print("The wafanyikazi dataset has %d rows and %d columns" %(wafanyikazi.shape[0],wafanyikazi.shape[1]))

The wafanyikazi dataset has 500 rows and 10 columns

In [31]:
#6. Inspect the data types of the variables in the dataset
wafanyikazi.dtypes

Sid                int64
Gender            object
Age                int64
Department        object
Role              object
Income             int64
Marital_Status    object
County            object
Leave_Days         int64
Promotion         object
dtype: object

In [34]:
#7. Convert the non-numerical variables to categorical. 

for col in ["Gender","Department","Role","Marital_Status","County","Promotion"]:
    wafanyikazi[col] = wafanyikazi[col].astype('category')
## inspect if the loop has worked.
wafanyikazi.dtypes

Sid                  int64
Gender            category
Age                  int64
Department        category
Role              category
Income               int64
Marital_Status    category
County            category
Leave_Days           int64
Promotion         category
dtype: object

In [5]:
#8. Generate tables that display the number of entries per category, for each categorical variable

In [ ]:
#9. Generate tables that display various summary statistics, for each continuous variable